/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
@font-face {
font-family: MrPiracyFont;
src: url("https://mrpiracy.site/css/font/mrpiracy.otf") format("opentype");
}
.instagram {
background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.site {
background-color: rgba(255, 255, 255, 0.90);
}
.fb {
background-color: #3b5998;
}
.tw {
background-color: #00aced;

}
.infos {
width:100%;
height:100%;
margin: 0 auto;
background-color:#1C1C1C;
border-radius: 8px;
opacity:0.9;
padding: 10px;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}
::selection {
background: #b3d4fc;
text-shadow: none;
}
/*
* A better looking default horizontal rule
*/
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}
/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/
audio,
canvas,
img,
svg,
video {
vertical-align: middle;
}
/*
* Remove default fieldset styles.
*/
fieldset {
border: 0;
margin: 0;
padding: 0;
}
/*
* Allow only vertical resizing of textareas.
*/
textarea {
resize: vertical;
}
/* ==========================================================================
Browse Happy prompt
========================================================================== */
.browsehappy {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}
/* ==========================================================================
Author's custom styles
========================================================================== */
* {
font-family: 'Lato', sans-serif;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html, body {
height: 100%;
}
html {
-webkit-text-size-adjust: 100%;
}
body {
font-size: 16px;
color: #fff;
background: #000000;
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
}
h1 {
font-size: 74px;
line-height: 80px;
}
h2 {
font-size: 18px;
line-height: 18px;
}
.center-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
overflow: auto;
}
.center-container:after,
.center-block {
display: inline-block;
vertical-align: middle;
}
.center-container:after {
content: '';
height: 100%;
margin-left: -0.25em; /* To offset spacing. May vary by font */
}
.center-block {
max-width: 98%; /* Prevents issues with long content causes the content block to be pushed to the top */
/* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}
.button {
margin: 0 auto;
display: inline-block;
width: 100px;
height: 33px;
font-size: 12px;
font-weight: bold;
line-height: 29px;
text-decoration: none;
text-align: center;
color: #fff;
border: 2px solid #fff;
border-radius: 4px;
-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
transition: background 0.2s ease-out, color 0.2s ease-out;
margin: 10px 20px 10px 0px;
}
.button:hover {
background: #fff!important;
color: #232323!important;
}
.socials {
position: absolute;
top: 10px;
right: 10px;
text-align: right;
}
.addthis_native_toolbox, .addthis_pill_style {
display: inline-block;
width: 50px !important;
}
#noty_bottomRight_layout_container a {
color: #dd3030;
}
/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers: h5bp.com/u
*/
.hidden {
display: none !important;
visibility: hidden;
}
/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/
.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
.clearfix:after {
clear: both;
}
/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (max-height: 400px) {
#noty_bottomRight_layout_container {
display: none;
}
}

@media only screen and (max-height: 640px) {

.infos {
width:10%;
height:100%;
margin: 0 auto;
background-color:#1C1C1C;
border-radius: 8px;
opacity:0.9;
padding: 10px;
}

.button {
margin: 0 auto;
display: inline-block;
width: 100px;
height: 33px;
font-size: 12px;
font-weight: bold;
line-height: 29px;
text-decoration: none;
text-align: center;
color: #fff;
border: 2px solid #fff;
border-radius: 4px;
-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
transition: background 0.2s ease-out, color 0.2s ease-out;
margin: 2px;
}
}  

@media only screen and (max-height: 812px) {

.infos {
width:100%;
height:100%;
margin: 0 auto;
background-color:#1C1C1C;
border-radius: 8px;
opacity:0.9;
padding: 10px;
}

.button {
margin: 0 auto;
display: inline-block;
width: 100px;
height: 33px;
font-size: 12px;
font-weight: bold;
line-height: 29px;
text-decoration: none;
text-align: center;
color: #fff;
border: 2px solid #fff;
border-radius: 4px;
-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
transition: background 0.2s ease-out, color 0.2s ease-out;
margin: 4px;
}
}

@media only screen and (max-height: 568px) {

.infos {
width:100%;
height:100%;
margin: 0 auto;
background-color:#1C1C1C;
border-radius: 2px;
opacity:0.9;
padding: 8px 2px 8px 2px;
}

.button {
margin: 0 auto;
display: inline-block;
width: 100px;
height: 33px;
font-size: 12px;
font-weight: bold;
line-height: 29px;
text-decoration: none;
text-align: center;
color: #fff;
border: 2px solid #fff;
border-radius: 4px;
-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
transition: background 0.2s ease-out, color 0.2s ease-out;
margin: 5px 1px 5px 1px;
}
}

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
h1 {
font-size: 110px;
line-height: 110px;
}
h2 {
font-size: 20px;
line-height: 20px;
}
.button {
width: 150px;
height: 50px;
font-size: 18px;
line-height: 46px;
}

}
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}
/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request: h5bp.com/r
========================================================================== */
@media print {
* {
background: transparent !important;
color: #000 !important; /* Black prints faster: h5bp.com/s */
box-shadow: none !important;
text-shadow: none !important;
}
a,
a:visited {
text-decoration: underline;
}
a[href]:after {
content: " (" attr(href) ")";
}
abbr[title]:after {
content: " (" attr(title) ")";
}
/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
content: "";
}
pre,
blockquote {
border: 1px solid #999;
page-break-inside: avoid;
}
thead {
display: table-header-group; /* h5bp.com/t */
}
tr,
img {
page-break-inside: avoid;
}
img {
max-width: 100% !important;
}
p,
h2,
h3 {
orphans: 3;
widows: 3;
}
h2,
h3 {
page-break-after: avoid;
}
}
@media only screen and (max-width: 1200px) {
body {background: url('https://i.imgur.com/2Q5I4nG.jpg') no-repeat !important;}
video 	{display: none !important;}
#menu   {display: none !important;}
}
.tw2 {
background-color: #1edd02;
}
.tw3 {
background-color: #9b00dd;
}
.tw4 {
background-color: #dd7d00;
}
