<settings>
<category label="INFORMAÇÕES">
<setting id="mensagem" label="[B][COLOR white]FÓRUM: [COLOR gold]BIT.LY/BRPLAYON[/COLOR][/COLOR][/B]" value="true" type="bool" default="true"/>
<setting id="mensagem" label="[B][COLOR white]DOAÇÕES:[/COLOR][/B]" value="true" type="bool" default="true"/>
<setting id="mensagem" label="[B][COLOR white]PAGSEGURO R$: [COLOR gold]BIT.LY/DOARPLAY[/COLOR][/COLOR][/B]" value="true" type="bool" default="true"/>
<setting id="mensagem" label="[B][COLOR white]PAYPAL USD$: [COLOR gold]BIT.LY/DOARPLAY2[/COLOR][/COLOR][/B]" value="true" type="bool" default="true"/>
<setting id="donotshowbychannels" label="" visible="false" type="bool" default="false"/>
</category>
</settings>